@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'italiana', serif;
    font-size: 1.rem;
    background: linear-gradient(to right, #fe0703 0%, #b97e18 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .card_cardapio {
    align-items: center;
  }
  /* .logo{
    font-family:  'Italiana', serif;
    font-size: 1.5rem;
    padding-top: 1rem;
    background: linear-gradient(to right, #fe0703 0%, #b97e18 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  .card_subtitle {
    margin-top: 1.5rem;
    text-align: center;
    background-color: #F43939;
    /* width: 100%; */
    color: white;
  }
  
  .card_principal {
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 0.5px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  .card_cardapio_container {
    padding: 0.5px;
    /* columns: 3;
    grid-template-columns: repeat(4, 1fr); */
    
  }
  /* a {
    text-decoration: nome;
  }  */
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(251, 1, 1, 0.768);
    margin-top: 0.2rem;
    padding: 1rem;
    margin-bottom: 0.2rem;
    transition: 0.4s;
    background-color: #e23a3a57;
    height: auto;
    width: 23rem;
  
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card_produto {
    /* height: 5.5rem; */
    text-align: center;
    align-items: center;
  }
  .card img {
    border-radius: 8px 8px 0 0;
    height: 250px;
    align-items: center;
  }
  .card_img{
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .imagemProduto{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F43939;
  }
  .card_produto h3 {
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffa500;
    height: 60px;
    background: #e20d09b0;
    width: 100%;
    height: 40px;
  }
  
  .card .card_descripition {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 70px;
    text-align: justify;
    padding: 0.1px;
    color: #000;
  }
  
  .card small {
    font-weight: 300;
    font-size: 1.25rem;
       
  }
  
  .card_preco {
    margin-top: 3rem;
    text-align-last: center;
    background-color:  #fe0703d5;;
    border-radius: 0px 0px 10px 10px;
  
  }
  .card_preco span {
    font-weight: 700;
    font-size: 1.25rem;
    /* position: relative; */
    left: 1rem;
    bottom: 0rem;
    color: #ffa500;
  
    /* border: 5px solid #f90707; */
  }
  /* .fechar{
    text-align: center;
    top: 0px;
    bottom: 0px;
    display: none;
    color: black;
    font-size: larger;
    color: #fe0703;
  } */
  
  .card_pessoas {
    width: 48px;
    height: 50px;
    /* margin-left: 3px; */
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    /* display: none; */
    padding: 2px;
    /* top: 400px; */
    font-size: 10px;
    /* right: 50px; */
    /* position: fixed; */
  }
  h2{
    position: sticky;
}
.card_cardapio{
    position: sticky;
    z-index: -1;
}
  
  /* .card:target{
    position: fixed;
    width: 100%;
    top: 5px;
    left: 5px;
    padding: 10px;
    border: solid 1px #333;
    box-shadow: 0 0 25px #000;
    background-color: #fff;
    border-radius: 5px;
  }
  .card:target .card_descripition{
    display: block;
  }
  .card:target .fechar{
    display: block;
  }
  .card:target .pessoas{
    display: block;
  } */